<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onToggleOdd()">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item"
          [ngClass]="{odd:onlyOdd}"
          [ngStyle]="{backgroundColor: onlyOdd ? 'green': 'lightblue'}"
          *ngFor="let number of shownNumbers">
          {{number}}
        </li>
      </ul>
      <p appBasicHighlight>Style me with basic highlight directive</p>
      <p [appBetterHighlight]="'red'" defaultColor="yellow">Style me with better highlight directive</p>
      <ng-template [ngIf]="onlyOdd" >
        <p>Only odd</p>
      </ng-template>

      <div *appUnless="!onlyOdd">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>

      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
    </div>
  </div>
</div>
